body,html {
    background: #0747A6;
}
.title {
    display: flex;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 40px;
    -webkit-user-select: none; 
    -webkit-app-region: drag;
    justify-content: flex-end;
}
.a {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: auto 0 auto 10px;
    -webkit-app-region: no-drag;
}

.a:last-child{
    margin-right: 10px;
}

.a:hover {
    filter: brightness(130%);
}

.t-icon{
    position: fixed;
    top: 8px;
    left: 10px;
}